<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Menu PPQS</title>
</head>
<body>
    <h2>
        <a href="/">home</a>
    <h2>
    <hl>hari</hl>
    <hl>sayur</hl>
    <hl>lauk</hl>
    <hl>buah</hl>
    <span>nama hari: {{context[1]}}</span>
    <span>nama sayur: {{context[2]}}</span>
    <span>nama lauk: {{context[3]}}</span>
    <span>nama buah: {{context[4]}}</span>
    <br>
        
</body>
</html>