<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Menu PPQS</title>
</head>
<body>
    halaman update
    <form action="" method="post">
        <label for="">hari</label>
        <input name="hari" type="text">
        <label for="">sayur</label>
        <input name="sayur" type="text">
        <label for="">lauk</label>
        <input name="lauk" type="text">
        <label for="">buah</label>
        <input name="buah" type="text">
        <button type="submit">kirim</button>
    </form>
</body>
</html>